/* не я это начал */
/* стили с ограничением по максимальной ширине включаем сразу. позже они будут переопределены стандартными стилями. */
@media (max-width: 500px){
    .bg-crimson .block-title{margin: 5% auto;}
    .bg-crimson .step{margin: 5% auto;}
    .bg-crimson .step .img{min-height: 60px;}
    .bg-crimson .btn{margin: 0 5% auto;}
} 
@media (max-width: 426px){
    .bg-crimson .step .img{min-height: 80px;}
}
@media (max-width: 376px){
    .bg-crimson .step .img{min-height: 60px;}
}
@media (max-width: 321px){
    .bg-crimson .step .img{min-height: 45px;}
}
 
 /* bs overrides */

 body{color: #020202;font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;}
 img{max-width: 100%;}
.navbar-default{background: #f5f6f6;}
.navbar-default.diff{background: transparent;}
.navbar-default .navbar-brand{font-size: 16px;color: #020202;}
.navbar-brand span{color: #e6b30b;}
.navbar-default{margin-bottom: 0;}
.navbar-default .navbar-nav>li>a{color: #020202;}
.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{color: #020202;background-color: #f0cc47}
.navbar-default .navbar-toggle .icon-bar{background-color: #020202;}
.btn{border-radius: 0; text-transform: uppercase;margin-bottom: 10px;}
.btn-default{background: #fbfafa;border: none;font-weight: bold; color: #020202;}
.lead{font-size: 24px;}

/* custom common */
.white{color: #fbfafa;}
.orange{color: #e6b30b;}
.yellow{color: #f1ca46;}
.red{color: #d35b5c;}
.uppercase{text-transform: uppercase;}
.bold{font-weight: bold;}
.pt-10{padding-top: 10px;}
.pt-20{padding-top: 20px;}
.pt-30{padding-top: 30px;}
.pt-40{padding-top: 40px;}
.pt-50{padding-top: 50px;}
.pb-10{padding-bottom: 10px;}
.pb-20{padding-bottom: 20px;}
.pb-30{padding-bottom: 30px;}
.pb-40{padding-bottom: 40px;}
.pb-50{padding-bottom: 50px;}
.pb-60{padding-bottom: 60px;}
.w30{width: 30%;}
.w40{width: 40%;}
.w50{width: 50%;}
.w60{width: 60%;}
.w90{width: 90%;}
.oh{overflow: hidden;}
.cimg{float: left;max-width: 300px;margin: 0 20px 20px 0;}
.touch-img{max-width: 110px;margin: 0 25px 5px 0;}
p.bordered{border-bottom: 1px solid #cbcbcb;}
.lead.bordered{padding-bottom: 20px;}
.abs-center{position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.bottom-link, .bottom-link:hover{font-size: 20px; color: #333; background: #fbfafa; bottom: 5px;text-align: center;top: auto;max-width: 400px; display: inline-block;}
.bottom-link:hover{text-decoration: none;background: #e6e6e6;}
.nomt{margin-top: 0;}
.noborder, .noborder::after{border: none;}

/* front, header, footer */
.front-header{
    background: url(../img/front/head.jpg) no-repeat 70% 50%; 
    background-size: cover;
    color: #fff;
    text-shadow: #020202 1px 1px 5px;
    margin-bottom: 0;
}
.front-header .relative{position: relative; min-height: 90px;}
.front-header p{position: absolute;bottom: -20px; font-size: 11px;left: 20px;}
.front-header p:last-child{bottom: -40px;}
.gradient-red{background: url(../img/front/bg-block-2.jpg) no-repeat 50% 50%; background-size: cover;}
.bg-crimson{background: url(../img/front/bg-red.jpg) no-repeat 50% 50%; background-size: cover;}
.bg-ginger{background: #d35b5c;}
.bg-gray{background: #f2f2f2;}
.bg-purple{background: url(../img/front/bg-purple.jpg) no-repeat 50% 50%; background-size: cover;}
.bg-blue{background: url(../img/front/bg-blue.jpg) no-repeat 50% 50%; background-size: cover;}
.bg-aqua{background: #80bfe7;}
.bg-yellow{background: #f1cd48;}
.bg-dark-yellow{background: #febe25;}
.measure{background: url(../img/front/measure.jpg) no-repeat 50% 100%;min-height: 90px;background-size: 170% auto;}
.block-title{font-weight: bold;}
.step{color: #fff;margin-bottom: 20px;}
.step .img{min-height: 45px; background: url(../img/front/step1.png) no-repeat 50% 100%; background-size: contain;margin-bottom: 5px;}
.step-2 .img{background-image: url(../img/front/step2.png);}
.step-3 .img{background-image: url(../img/front/step3.png);}
.step-4 .img{background-image: url(../img/front/step4.png);}

.pre-line{display: block; background: url(../img/front/malysh.png) no-repeat 50% 50%;margin: 0 auto; width: 135px; height: 135px;border-radius: 50%;border: 30px solid #f3cf35;box-sizing: content-box;}
.lines a{display: block; height: 40px;margin: 10px 0; background: #cac8c8;}
.lines .yellow{background-color: #f3cf35;}
.lines .red{background-color: #d55a59;}
.lines .blue{background-color: #7dbfe9;}
.lines .purple{background-color: #9b74a3;}

.slick-slide{outline: none;}
.slick-slide .text{padding: 0 30px; margin:10px;}
.slick-slide .text span{display: block; text-align: right; margin-top: 10px;font-style: italic}
.slick-prev, 
.slick-next,
.slick-prev:hover, 
.slick-prev:focus, 
.slick-next:hover, 
.slick-next:focus{height: 91px; width: 22px;background: url(../img/front/slarl.png) no-repeat 0 0;z-index: 1;}
.slick-prev:before, .slick-next:before{display: none;}
.slick-prev{left: 0;}
.slick-next{right: 0;}
.slick-next,.slick-next:hover,.slick-next:focus{background-image: url(../img/front/slarr.png);background-position: 100% 50%;}

.footer ul{list-style: none; padding: 0;width: 50%; float: left; margin-bottom: 30px;}
.footer ul a, .footer p, .copyright a, .copyright p{color: #818282;}
.footer ul .lead{margin-bottom: 10px;}
.footer .lead a{color: #020202;}
.footer-short{background: #f5f6f6;}

a.social{display: block; padding-top: 45px; background: url(../img/soc-inst.png) no-repeat 50% 0; background-size: 35px;color: #020202;}
a.social.face{background-image: url(../img/soc-fb.png);}
a.social.you{background-image: url(../img/soc-you.png);}

/* otlichie */

.diff-circle{
    color: #b3bd2c;
    display: inline-block;
    height: 65px; 
    width: 65px; 
    line-height: 55px; 
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    border: 5px solid;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
.diff-circle.no{color: #7e7e7e;}
.diff-title{white-space: nowrap;}
.diff .lead{font-size: 16px;}
.diff .row-bb{border-bottom: 1px solid #010101;margin-bottom: 10px; padding-bottom: 10px;}

/* reg */

.reg-form{background: #f3f3f3;padding: 15px;}
.reg-form label{font-weight: normal;}
.reg-form input, .reg-form textarea{border-radius: 0; border: 1px solid #c7c7c7;}
.reg-form input[type="submit"]{border:none; background: #e6c14d; text-align: center; color: #fff;width: 100%;}

/* history */

.crimson-block{background: #d75253;}
.purple-block{background: #a46b92;}
.purple-block .text-col{padding: 15px;}
.crimson-block img{margin-bottom: 15px; margin-top: 15px;}
.team .item{margin-bottom: 47px;}
.team img{margin-bottom: 10px;}
.adds img{margin-bottom: 20px;}

/* shop */

.colored{margin-bottom: 35px; border-bottom: 1px solid #f1cd48;}
.colored .filler{position: absolute;width: calc(100% - 30px); height: 100%;}
.colored .date-selector{ font-weight: bold; cursor: pointer;}
.colored .btns{margin-top: 20px;}
.colored .btn-sm{font-weight: bold;text-transform: none;color: #80bfe7;}
.colored .btn-sm.btn-colored{color: #fff;}
.colored .btn-order{color: #d35b5c; background: #e8e8e8; width: 100%; margin-top: 10px;}
.head-row{    
    border-radius: 0;
    background-color: #e8e8e8;
    font-size: 30px;
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    padding: 5px 0;
    box-shadow: none;}

/* end common styles - switching to bigger screens */

@media (min-width: 768px) {
    .lg-pb-10{padding-bottom: 10px;}
    .lg-pb-20{padding-bottom: 20px;}
    .lg-pb-30{padding-bottom: 30px;}
    .lg-pb-40{padding-bottom: 40px;}
    .lg-pb-50{padding-bottom: 50px;}
    .lg-pb-60{padding-bottom: 60px;}
    .lg-pb-70{padding-bottom: 70px;}
    .lg-pt-10{padding-top: 10px;}
    .lg-pt-20{padding-top: 20px;}
    .lg-pt-30{padding-top: 30px;}
    .lg-pt-40{padding-top: 40px;}
    .lg-pt-50{padding-top: 50px;}
    .lg-pt-60{padding-top: 60px;}
    .lg-pt-70{padding-top: 70px;}

    .nav>li>a{padding:15px 10px;}
    .navbar{border: none;}

    /* front */
    .front-header{padding-top: 150px;}
    .front-header p{position: static;width: initial;font-size: 14px;}
    .front-header .relative{min-height: 0;}

    /* otlichie */
    .diff-circle{margin-left: 120px;}

    /* history */
    .purple-block.slider-row{overflow: hidden;}
    .purple-block .slider-col{width: 50%; float: left;}

    /* shop */
    .colored{border-bottom: none;}
    .colored::after{content:'';display: block;height: 1px;background: #c8c8c8;width: calc(100% - 30px);margin-left: 18px;}
    .colored.noborder{margin-bottom: 0;}
    .colored.noborder::after{height: 0;}
    .colored.noborder .base_height p:last-child{padding-bottom: 30px;}
    .colored .btn-sm{font-size: 18px; }
    .colored .date-selector{ padding-left: 40px;}
}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    p,li{font-size: 18px;}
    .history p{font-size: 24px;}
    .history .lead{font-size: 30px;}
    p.s18, .s18{font-size: 18px;}
    p.s24, h4{font-size: 24px;}
    .navbar-default .navbar-brand{font-size: 24px;font-weight: bold;}
    .lead{font-size: 24px;}
    .block-title,.btn{font-size: 30px;}
    .jumbotron p{font-size: 24px;}
    .intro p{color: #000;line-height: 20px;}
    .intro .lead{margin: 20px 0 5px 0;}
    .nav>li>a{padding: 8px 10px 14px;margin-top: 20px;margin-bottom: 20px;}
    .navbar-brand{margin-top: 15px;}
    .front-header{min-height: 545px;padding-top: 350px;text-shadow: none;}
    .btn{ max-height: 40px; line-height: 40px;padding-top: 0; padding-bottom: 0;}
    .gradient-red .btn{padding: 0 60px 0;}
    .step .img{min-height: 160px; margin-bottom: 30px;background-size: auto 80%;}
    .step-2 .img{background-size: auto 90%;}
    .lines{position: relative;min-height: 630px;}
    .lines .line{text-align: center;position: absolute;overflow: hidden;}
    .lines .line a {width: 100%;}
    .lines .line p{font-size: 24px;}
    .lines .line-1{width: 270px;top: 50px;}
    .lines .line-1 a{height: 37px;}
    .lines .line-2{width: 170px;top: 45px;left: 400px;}
    .lines .line-3{width: 395px;top: 47px;right: 0;}
    .lines .line-4{width: 267px;top: 305px;left: 100px;}
    .lines .line-4 a{height: 28px;}
    .lines .line-5{width: 167px; top: 250px;left: 500px;}
    .lines .line-5 a{height: 31px;}
    .lines .line-6{width: 273px;top: 320px;right: 0;}
    .lines .line-7{width: 430px;top: 497px;}
    .lines .line-7 a{height: 28px;}
    .lines .line-8{width: 99px;top: 543px; right: 384px;}
    .bg-purple p{color: #fff;font-size: 24px;line-height: normal;}
    .bg-purple .lead{padding-top: 35px;margin-bottom: 45px;}
    .bg-purple .btn{margin-top: 40px;}
    .slick-prev, 
    .slick-next,
    .slick-prev:hover, 
    .slick-prev:focus, 
    .slick-next:hover, 
    .slick-next:focus{width: 55px;}
    .slick-slide .text{
        width: 700px;
        height: 700px;
        border: none;
        margin: 0 auto;
        border-radius: 50%;
        background: #d35b5c;
        overflow: hidden;
        text-align: center;
    }
    .slick-slide .text .inner{
        height: 515px;
        width: 270px;
        margin: 70px auto;
        overflow: hidden;
        background-color: #fafafa;
        font-size: 22px;
        line-height: normal;
        text-align: left;
        padding: 5px;
    }
    .slick-slide .text span{color: #b3b3b3;font-style: normal}
    .bg-blue .lead{color: #fff;}
    .content-form{background: #f3f3f3;padding: 20px 30px;}
    .content-form label{font-size: 24px; font-weight: normal}
    .content-form input[type="text"],
    .content-form input[type="email"],
    .content-form textarea{border: 1px solid #c7c7c7;border-radius: 0;}
    .content-form .btn-danger{background: #e16c6c; border: none;margin-top: 20px;margin-bottom: 30px;max-height: 45px;font-weight: bold}
    .acceptance{color: #686868;}
    .footer ul{margin-right: 40px; width: initial;}
    .footer ul li,
    .footer ul .lead{margin-bottom: 25px;}
    .copyright p{margin: 30px auto;}

    .diff .lead{font-size: 30px;}
    .diff-circle{margin-bottom: 35px;}
    .diff .row-bb p{margin-left: 200px;max-width: 350px;}
    .diff .row-bb .no-text p{margin-left: 80px;}

    .reg-form{padding: 20px 33px;}
    .reg-form label{font-size: 24px;}
    .reg-form input, .reg-form textarea{min-height: 55px;}
    p.double-border{position: relative;}
    p.double-border::after{
        content: '';
        width: 248px;
        height: 3px;
        background: #e6c14c;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .measure{background-position: 0 100%; background-size: contain;}
    .bottom-link, .bottom-link:hover,.bottom-link:focus{font-size: 30px; bottom: 45px;text-align: center;top: auto;text-decoration: none;}

    /* history */
    .history-slider .slick-dots{bottom: -30px;}
    .history-slider .slick-dots li button:before{width: 12px;height: 12px;content: '';border: 1px solid #9c9ca0;border-radius: 50%;}
    .history-slider .slick-dots li.slick-active button:before{background-color: #9c9ca0;}    
    .crimson-block p{padding-left: 10px;}
    .crimson-block img{position: relative;right: -15px; margin:0;}
    .purple-block p.lead{padding-top: 50px;}
    .team img{margin-bottom: 40px;}
    .adds img{margin-bottom: 40px;}

    /* shop */

    .colored .price{white-space: nowrap;}
}
@media(min-width: 1920px){
    .container-fluid>.navbar-header{margin-left: 200px;}
    .front-header p{margin-left: 200px;}
    .navbar-right{margin-right: 100px;}
}